body {
	height: 100vh;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	font-family: sans-serif;
	font-size: 1.8rem;
}

legend {
	text-transform: uppercase;
	font-family: "Rampart One", sans-serif;
	color: black;
}

label {
	font-size: 1.6rem;
}

#vanilla {
	accent-color: gray;
}
input[id="vanilla"]:checked ~ label {
	font-family: "Rampart One", sans-serif;
	color: gray;
}

#chocolate {
	accent-color: brown;
}
input[id="chocolate"]:checked ~ label {
	color: brown;
	font-family: "Rampart One", sans-serif;
}

#strawberry {
	accent-color: red;
}
input[id="strawberry"]:checked ~ label {
	color: red;
	font-family: "Rampart One", sans-serif;
}

input[id="disabled_checked"] ~ label {
	color: #d2d2d2;
	font-family: "Rampart One", sans-serif;
}

input[id="disabled"] ~ label {
	color: #d2d2d2;
}

#able {
	accent-color: green;
}
input[id="able"]:checked ~ label {
	color: green;
}

input[type="radio"]#r {
	accent-color: #ff0000;
}
input[id="r"]:checked ~ label {
	color: #ff0000;
	font-family: "Rampart One", sans-serif;
}

input[type="radio"]#g {
	accent-color: rgb(0, 255, 0);
}
input[id="g"]:checked ~ label {
	color: rgb(0, 255, 0);
	font-family: "Rampart One", sans-serif;
}

input[type="radio"]#b {
	accent-color: blue;
}
input[id="b"]:checked ~ label {
	color: blue;
	font-family: "Rampart One", sans-serif;
}

input[type="radio"]#pink {
	accent-color: pink;
}
input[id="pink"]:checked ~ label {
	color: pink;
	font-family: "Rampart One", sans-serif;
}

input[type="radio"]#yellow {
	accent-color: yellow;
}
input[id="yellow"]:checked ~ label {
	color: yellow;
	font-family: "Rampart One", sans-serif;
}

input[type="radio"]#auto {
	accent-color: auto;
}
input[id="auto"]:checked ~ label {
	color: #0075ff;
	font-family: "Rampart One", sans-serif;
}